{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="{% url "posts:post_list" %}">Posts</a>
        <a href="{% url "posts:post_list" %}">Contact</a>
        <a href="{% url "posts:post_list" %}">About</a>
      </div>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>

    <div id="sidebar">
        <h2>My Blog</h2>
        <p>This is my blog</p>
{#        <p>Total posts: {% total_posts %} </p>#}
        <h3>Latest posts</h3>
{#        {% show_latest_post %}#}
        <h3>Most commented posts</h3>
{#        {% get_most_commented_posts as most_commented_posts %}#}
        <ul>
            {% for post in most_commented_posts %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% block footer %}
    {% endblock %}
</body>
</html>