<!DOCTYPE html>
<html>
<head>
    <title>My Site</title>
</head>
<body>
    <h1>Welcome to my Blog!</h1>
    <p>Check out my posts</p>

    <form method="get" action="{% url 'search_post' %}">
        <input type="text" name="query" placeholder="search posts">
        <input type="submit" value="Search">
    </form>

    {% with posts.count as total_post  %}
    <p>Number of posts: {{ total_post }}</p>
    {% endwith %}

    {% for p in page_obj %}
        <h2><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h2>
        <p>posted on {{ p.publish }}</p>
        <p>by {{ p.author }}</p>
        <p>{{ p.content|truncatewords:10 }} <a href="{{ p.get_absolute_url }}">Read More...</a></p>
    {% endfor %}

    <div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

    </body>
</html>